@use '@angular/material' as mat;

:host(.current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #8b2b28,
      label-text-color: white,
    ));
  }
}

:host(.marked-1),
:host(.marked-1):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #dc3545, /* Red - non-pastel version of #ffb3ba */
      label-text-color: white,
    ));
  }
}
:host(.marked-2),
:host(.marked-2):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #fd7e14, /* Orange - non-pastel version of #ffdfba */
      label-text-color: white,
    ));
  }
}
:host(.marked-3),
:host(.marked-3):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #ffc107, /* Yellow - non-pastel version of #ffffba */
      label-text-color: black,
    ));
  }
}
:host(.marked-4),
:host(.marked-4):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #28a745, /* Green - non-pastel version of #baffc9 */
      label-text-color: white,
    ));
  }
}
:host(.marked-5),
:host(.marked-5):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #007bff, /* Blue - non-pastel version of #bae1ff */
      label-text-color: white,
    ));
  }
}
:host(.marked-6),
:host(.marked-6):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #6f42c1, /* Purple - non-pastel version of #d4baff */
      label-text-color: white,
    ));
  }
}

:host(.current.zoom) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-size: 2rem,
      container-height: 64px,
    ));
  }
}
:host:has( + app-step.current.zoom),
:host:has( + app-step + app-step.current.zoom) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-size: 1.5rem,
      container-height: 48px,
    ));
  }
}
:host:has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: yellow,
      label-text-color: black,
    ));
  }
}
:host(.first) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: rgb(128, 255, 128),
    ));
  }
}
:host(.first.current) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: rgb(0, 255, 0),
    ));
  }
}
:host(.first):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: green,
    ));
  }
}
:host(.last) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: red,
    ));
  }
}
:host {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #4ab9ec,
      label-text-color: white,
      label-text-size: 20px,
      label-text-weight: 900,
    ));
  }
}
