@use '@angular/material' as mat;

:host(.current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #8b2b28,
      label-text-color: white,
    ));
  }
}

:host(.marked-1) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #205216,
      label-text-color: white,
    ));
  }
}
:host(.marked-2) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #1a3c6c,
      label-text-color: white,
    ));
  }
}
:host(.marked-3) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #5c1a6c,
      label-text-color: white,
    ));
  }
}
:host(.marked-4) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #6c1a3c,
      label-text-color: white,
    ));
  }
}
:host(.marked-5) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #6c4a1a,
      label-text-color: white,
    ));
  }
}
:host(.marked-6) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #3c6c1a,
      label-text-color: white,
    ));
  }
}

:host(.current.zoom) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-size: 2rem,
      container-height: 64px,
    ));
  }
}
:host:has( + app-step.current.zoom),
:host:has( + app-step + app-step.current.zoom) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-size: 1.5rem,
      container-height: 48px,
    ));
  }
}
:host:has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: yellow,
      label-text-color: black,
    ));
  }
}
:host(.first) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: rgb(128, 255, 128),
    ));
  }
}
:host(.first.current) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: rgb(0, 255, 0),
    ));
  }
}
:host(.first):has(~ .current) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: green,
    ));
  }
}
:host(.last) {
  mat-chip {
    @include mat.chips-overrides((
      label-text-color: red,
    ));
  }
}
:host {
  mat-chip {
    @include mat.chips-overrides((
      elevated-container-color: #4ab9ec,
      label-text-color: white,
      label-text-size: 20px,
      label-text-weight: 900,
    ));
  }
}
