@use '../../../../../styles/colors' as colors;

mat-accordion {
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  margin-top:0;
  margin-bottom:0;
}

:host
 {
  display: grid;
  align-items: stretch;
 }


 :host(.mark-mode-1) .advance-button-container {
  background-color: colors.$rg-mark-bg-1; /* Soft Rose */
 }

 :host(.mark-mode-2) .advance-button-container {
  background-color: colors.$rg-mark-bg-2; /* Soft Amber */
 }

 :host(.mark-mode-3) .advance-button-container {
  background-color: colors.$rg-mark-bg-3; /* Soft Yellow */
 }

 :host(.mark-mode-4) .advance-button-container {
  background-color: colors.$rg-mark-bg-4; /* Soft Emerald */
 }

 :host(.mark-mode-5) .advance-button-container {
  background-color: colors.$rg-mark-bg-5; /* Soft Sky */
 }

 :host(.mark-mode-6) .advance-button-container {
  background-color: colors.$rg-mark-bg-6; /* Soft Violet */
 }

 .advance-button-container {
  height: 4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);

  button, mat-card {
    margin: 0.5rem 0rem;
    width: 6.5rem;
    height: 3rem;
  }

  mat-card {
    align-items: center;
    justify-content: center;
  }
 }
