li {
  list-style-type: none;
}

ol {
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  margin-top:0;
  margin-bottom:0;
}

:host
 {
  display: grid;
  align-items: stretch;
 }

 .advance-button-container {
  height: 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 30%;
  padding-right: 30%;

  button {
    background-color: #667fee;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    color: white;
    margin: 0.5rem 0.5rem;
    text-align: center;
    width: 5rem;
    height: 3rem;
  }
 }
