mat-accordion {
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  margin-top:0;
  margin-bottom:0;
}

:host
 {
  display: grid;
  align-items: stretch;
 }


 :host(.mark-mode-1) .advance-button-container {
  background-color: #ffb3ba; /* Light red */
 }

 :host(.mark-mode-2) .advance-button-container {
  background-color: #ffdfba; /* Light orange */
 }

 :host(.mark-mode-3) .advance-button-container {
  background-color: #ffffba; /* Light yellow */
 }

 :host(.mark-mode-4) .advance-button-container {
  background-color: #baffc9; /* Light green */
 }

 :host(.mark-mode-5) .advance-button-container {
  background-color: #bae1ff; /* Light blue */
 }

 :host(.mark-mode-6) .advance-button-container {
  background-color: #d4baff; /* Light purple */
 }

 .advance-button-container {
  height: 4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);

  button, mat-card {
    margin: 0.5rem 0rem;
    width: 6.5rem;
    height: 3rem;
  }

  mat-card {
    align-items: center;
    justify-content: center;
  }
 }
